# Express Server Config
PORT=5000

# Firebase Admin SDK Configuration (Provide one of the following)
# Option A: Absolute or relative path to serviceAccountKey.json
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

# Option B: Stringified JSON representation of the serviceAccountKey.json
# FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
